## These are not in our .venv - just here in case the user needs them 
OMIM_API_KEY=<your_OMIM_api_key_here>
NCBI_API_KEY=<your_NCBI_api_keye_here>
NCBI_EMAIL=<your_email_here>
OMIM_DAILY_LIMIT=250
MONGO_URI=mongodb://host.docker.internal:27017/gene_discovery
FLASK_DEBUG=TRUE
FLASK_APP=api.app:create_app
SECRET_KEY=changeme
DEBUG=true